.logo{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 1em;
}
.logo{
    transform:scale(1);
	transition: .5s ease-in-out;
}
.logo:hover{
    transform:scale(0.8);
}
.logo_para{
    font-size: 40px;
    font-family: 'Lucida', serif;
    font-weight: 550;
    text-align: center;
    margin-top: 2em;
}
.logo_para>p>span{
    font-size:65px ;
    color: #19b119;
}